<div style='padding-top: 40px' class="col-md-12">
		
		<div class="col-md-2">
			<div class="col-md-12">
				<div id='divPhoto'></div>
			</div>

			<div style='padding-top: 10px' class="col-md-12">
				<div class="col-md-3">
					<img src='assets/UY.gif' width=35 height=20 class="flag" ng-click="changeLang('UY')" />
				</div>
				<div class="col-md-3">
					<img src='assets/EN.gif' width=35 height=20 class="flag" ng-click="changeLang('EN')" />
				</div>
				<div class="col-md-3">
					<img src='assets/BR.gif' width=35 height=20 class="flag" ng-click="changeLang('BR')" />
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>

		<div id='aboutDiv' class="col-md-9">
			<div data-ng-show="spanishLang">
				<p>Hola! Mi nombre es Ramiro Rodriguez.</p>
				<p>Soy programador web y estudiante de Ingenieria en Computacion de la UDELAR.</p>
				<p>He trabajado en el Instituto de Donacion y trasplante, en en Paytrue Solutions y actualmente en Codigo de Sur, descubrí que desarrollo mejor mi potencial en empresas que tiene su propio producto, por lo que ahora estoy buscando formar parte de una empresa que tenga estas caracteristicas de forma de enfocar toda la energia en ayudar a mejorarlo.</p>
				<p>Me entusiama el trabajo en equipo y tener las metas claras, dando libertad a la creatividad para poder alcanzarlas.</p>
				<p>En mi tiempo libre me cuelgo mirando mirando publicidades en Youtube y me gustan las que promocionan su producto dejando un mensaje que nos transmiten humor y valores para ser una mejor sociedad, me llama la atención las distintas formas de llegarle a la gente dependiendo del momento. Una de mis preferidas es <a href='https://www.youtube.com/watch?v=4ovvFpWtpsg' target="_blank">esta</a>.</p>
			</div>
			<div data-ng-show="englishLang">
				<p>Hello! My name is Ramiro Rodriguez.</p>
				<p>I am a web developer and student of Computer Engineering at UDELAR.</p>
				<p>I have been working at the Organ Donation Institute, in Paytrue Solutions and currently in Codigo de Sur, taking into account this experineces I have realised that I do better develop my potential in companies that have their own product, so now I am looking to be part of a company with these characteristics in order to focus all the energy in helping to improve it.</p>
				<p>I am enthusiastic about teamwork and clear goals, giving freedom to creativity in order to achieve it.</p>
				<p>In my free time I like to stay watching advertisements on Youtube and I love those who promote their product leaving a message that transmit us humor and values to be a better society, I draw attention to the different ways to reach people depending on the moment. One of my favorites is <a href='https://www.youtube.com/watch?v=4ovvFpWtpsg' target="_blank">this one</a>.</p>
			</div>
			<div data-ng-show="PortLang">
				<p>Oi! Meu nome é Ramiro Rodriguez.</p>
				<p>Eu sou um desenvolvedor web e estudante de Engenharia da computação na UDELAR.</p>
				<p>Eu trabalhei no Instituto de Doação e tranplante de órgãos além de PayTrue Solutions e atualmente em Código del Sur, descobrí que eu posso desenvolver melhor o meu potencial em empresas que têm seu próprio produto, por isso que eu estou procurando agora trabalhar numa empresa que tem essas características de modo a concentrar toda a minha energia em ajudar a melhorá-lo.</p>
				<p>Eu gosto de trabalho em equipe e ter metas claras, dando liberatade a criatividade para alcançá-las.</p>
				<p>No meu tempo livre eu fico assistindo os publicidades no YouTube e gosto aquelas que promovem o seu produto deixando uma mensagem que transmitem humor e valores para uma sociedade melhor, me chama a atenção as diferentes maneiras de chegar às pessoas, dependendo do momento. Uma das minhas favoritas e <a href='https://www.youtube.com/watch?v=4ovvFpWtpsg' target="_blank">essa.</a></p>
			</div>
			<div class="col-md-1"></div>
		</div>
</div>